@import url('../css/fonts.css');

html,
body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --font-Anton: 'Anton', cursive;
    --font-Roboto: 'Roboto', cursive;
    --light-gray: #727272;
    --dark-red: #963d49;
    --light-red: #e83633;
    --light-yellow: #efea45;
    --light-cyan: #6f968f;
    --light-green: #b9d689;
    --black: #0e0e0e;
    --light-gradient: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

/* Globals */
a {
    text-decoration: none;
    color: var(--light-gray);
    outline: none;
}

p {
    font-family: var(--font-Roboto);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 5vw;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: var(--font-Anton);
    font-size: 2.3rem;
}

h2 {
    font-family: var(--font-Roboto);
}

h3 {
    font-family: var(--font-Roboto);
    font-size: 1.5rem;
}

.btn {
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--font-Roboto);
    cursor: pointer;
    color: var(--black);
}

span {
    font-family: var(--font-Roboto);
}

.text-grey {
    color: var(--light-gray);
}

/* Navbar */
.nav {
    background: wheat;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-brand a {
    font-size: 1.5rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--font-Anton);
    font-size: 1.5rem;
}

.nav .nav-items {
    display: flex;
    margin: 0;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0;
    width: 85%;
    cursor: pointer;
    color: var(--black);
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.5rem;
    color: var(--black);
}

/* Classe for my script.js */
.collapse {
    height: 30rem;
}

.nav .nav-items .nav-link {
    padding: 1.5rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--font-Roboto);
}

.nav .nav-items .nav-link:hover {
    background-color: var(--light-cyan);
}

.nav .nav-items .nav-link:hover a {
    color: white;
}

.nav .social {
    padding: 1.5rem 0;
}

.nav .social {
    padding-top: auto;
}

/* Main Content */

/* Hero Section */
main .hero-title {
    background: url('../img/Background-image.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}

main .hero-title .hero-background {
    padding-top: 10rem;
    text-align: center;
    color: var(--light-yellow);
}

main .hero-title h1,
h3 {
    margin: 0.3rem;
}

main .hero-title .btn {
    margin: 1.8rem;
    background: var(--light-cyan);
    transition: all 1s ease-in;
}

main .hero-title .btn:hover {
    background: transparent;
    border: 1px solid white;
    color: white;
}

/* End of Hero Section */

/* Carousel Section */

main .blog {
    background: url('../img/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
}

main .blog .blog-post {
    padding-top: 4rem;
}

main .blog .blog-post .blog-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0.2, 0.2);
}

main .blog-content .blog-title {
    padding: 2rem 0;
}

main .blog-content .btn-blog {
    padding: 0.7rem 2rem;
    background: var(--light-cyan);
    margin: 0.5rem;
}

section .container .owl-nav {
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.fa-long-arrow-alt-right,
.fa-long-arrow-alt-left {
    color: var(--black) !important;
    background: transparent !important;
    font-size: 2rem !important;
    padding: 0.5rem;
    outline: none;
}

.owl-next:hover,
.owl-prev:hover {
    background: transparent !important;
    color: var(--black) !important;
}

/* End Carousel Section */


/* Site Content (POSTS) */
main .site-content {
    display: grid;
    grid-template-columns: 70% 30%;
}

main .post-content {
    width: 100%;
}

main .site-content .post-content>.post-image,
.post-title {
    padding: 1rem 2rem;
    position: relative;
}

main .site-content .post-content>.post-image .post-info {
    background: var(--light-gradient);
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 15vw;
    border-radius: 3rem;
}

main .site-content .post-content>.post-image>div {
    overflow: hidden;
}

main .site-content .post-content>.post-image .img {
    width: 100%;
    transition: all 1s ease;
}

main .site-content .post-content>.post-image .img:hover {
    transform: scale(1.3);
}

main .site-content .post-content>.post-image .post-info span {
    margin: 0 0.5rem
}

main .site-content .post-title a {
    font-family: var(--font-Anton);
    font-size: 1.5rem;
}

main .site-content .post-content .post-title .post-btn {
    border-radius: 0;
    padding: 0.7rem 1.4rem;
    background: var(--light-gradient);
}

/*PAGINATION*/
.site-content .pagination {
    justify-content: center;
    color: var(--light-gray);
    margin: 4rem 0;
}

.site-content .pagination a {
    padding: 0.6rem 0.9rem;
    border-radius: 2rem;
    margin: 0 0.3rem;
    font-family: var(--font-Roboto);

}

.site-content .pagination .pages {
    background: var(--light-gray);
    color: white;
}

/*SIDEBAR*/
.site-content>.sidebar .category-list {
    font-family: var(--font-Anton);
}

.site-content>.sidebar .category-list .list-items {
    background: var(--light-gradient);
    padding: 0.4rem 1rem;
    margin: 0.8rem 0;
    width: 70%;
    display: flex;
    justify-content: space-between;
    border-radius: 3rem;
}

.site-content>.sidebar .category-list .list-items span {
    color: var(--light-gray);
}

/*SIDEBAR POPULAR POST*/
.site-content .sidebar .popular-post .post-content {
    padding: 1rem 0;
}

.site-content .sidebar .popular-post h2 {
    padding-top: 4rem;
}

.site-content .sidebar .popular-post .post-info {
    padding: 0.4rem 0.1rem !important;
    bottom: 0rem !important;
    left: 7vw !important;
    background: white !important;
}

.site-content .sidebar .popular-post .post-info span {
    font-size: 0.8rem;
}

.site-content .sidebar .popular-post .post-title a {
    font-size: 1rem;
}

/*SIDEBAR NEWSLETTER*/

.site-content .sidebar .newsletter {
    padding-top: 4rem;
}

.site-content .sidebar .newsletter .form-element {
    padding: 0.5rem 2rem;
}

.site-content .sidebar .newsletter .input-element {
    width: 82%;
    height: 1.9rem;
    padding: 0.3rem 0.5rem;
    font-family: var(--font-Anton);
    font-size: 1rem;
}

.site-content .sidebar .newsletter .form-btn {
    border-radius: 0 !important;
    padding: 0.8rem 32%;
    margin: 1rem 0;
    background: var(--light-gradient);
    font-family: var(--font-Roboto);
    font-weight: bold;
}

/*SIDEBAR POPULAR TAGS*/
.site-content .sidebar .popular-tags {
    padding: 4rem 0;
}

.site-content .sidebar .popular-tags .tags .tag {
    background: var(--light-gradient);
    padding: 0.4rem 1rem;
    border-radius: 3rem;
    margin: 0.4rem 0.6rem;
    font-family: var(--font-Roboto);
    font-weight: bold;
    color: var(--light-gray);
}

/* End of Site Content */

/*-- End of Main Content --*/

/* Footer */

footer.footer {
    height: 100%;
    background: black;
    position: relative;
}

footer.footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container>div {
    flex-grow: 1;
    flex-basis: 0;
    padding: 1rem 0.9rem;
}

footer.footer .container h2 {
    color: white;
}

footer.footer .container p {
    color: var(--light-gray);
}

footer.footer .newsletter .form-element {
    background: var(--black);
    display: flex;
}

footer.footer .newsletter .form-element input {
    padding: 0.5rem;
    border: none;
    background: transparent;
    color: white;
    font-size: 1rem;
    width: 85%;
}

footer.footer .newsletter .form-element span {
    background: var(--light-gradient);
    padding: 0.5rem 0.7rem;
    cursor: pointer;
}


footer.footer .instagram div>img {
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: 0.5rem 0.5rem;
}

footer.footer .social .social-white {
    color: white;
    padding: 0 0.4rem;
}

footer.footer .copyrights {
    justify-content: center;
    font-family: var(--font-Roboto);
    font-size: 0.8rem;
}

footer.footer .copyrights h4 a {
    color: white;
}

/* Back to top button */

.back-to-top-btn {
    opacity: 0;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 2.5rem;
    background: transparent;
    border: transparent;
    color: rgba(209, 209, 209, 0.9);
    transition: all 0.4s;
}

.back-to-top-btn.active {
    bottom: 1rem;
    pointer-events: auto;
    opacity: 1;
}

/* End of Back to top button */

/* End of Footer */

/*-- HomePage Responsive --*/
/* max 1100px large screens */
@media only screen and (max-width: 1100px) {

    /* Change the behavior of post info (date/comments) */
    .site-content .post-content>.post-image .post-info {
        left: 2rem !important;
        bottom: 1rem !important;
        border-radius: 0% !important;
    }

    /* Remove post info (date/comments)*/
    .site-content .sidebar .popular-post .post-info {
        display: none !important;
    }

    footer.footer .container {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* max 768px medium smartphones/tablets */
@media only screen and (max-width: 768px) {

    .nav .nav-menu,
    nav .nav-items {
        flex-direction: column;
    }

    .nav .toggle-collapse {
        display: initial;
    }

    main .site-content {
        grid-template-columns: 100%;
    }

    footer.footer .container {
        grid-template-columns: repeat(1, 1fr);
    }

    footer.footer .newsletter .form-element input {
        width: 100% !important;
    }

}

/* max 576px small/medium smartphones */
@media only screen and (max-width: 576px) {

    main .blog {
        height: 100vh !important;
    }

    .site-content .post-content>.post-image .post-info {
        display: none;
    }

    footer.footer .newsletter .form-element input {
        width: 91% !important;
    }
}

/* max 576px extra-smallsmartphones */
@media only screen and (max-width: 320px) {

    .site-content .post-content>.post-image .post-info {
        display: none;
    }

    main .site-content .post-title p {
        display: none;
    }

    main .site-content .post-title a {
        font-size: 1rem;
    }

    main .site-content .post-content .post-title .post-btn {
        margin-top: 1rem;
    }

    /* Navbar */
    nav .toggle-collapse {
        width: 80%;
    }

    .nav .toggle-collapse .toggle-icons {
        padding: 1.5rem 0 !important;
        font-size: 1.5rem;
    }

    /* Newsletter */
    .site-content .sidebar .newsletter .form-btn {
        padding: 1rem 27% !important;
    }

    footer.footer .newsletter .form-element input {
        width: 83% !important;
    }
}


/*-- BlogPage --*/

main .container .site-content .postpage {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-height: 0vh;
}

main .container .site-content .postpage>div {
    padding-bottom: 2rem;
}

main .container .site-content .postpage>div:nth-child(n + 3) {
    border-top: 2px solid black;
    padding-top: 2rem;
}

main .site-content .postpage .post-content>.post-image .post-info {
    left: 0;
    border-radius: 0;
    padding: 0.6rem;
    font-size: 0.8rem;
    margin-left: 7%;
}

main .site-content .postpage .post-title a {
    font-size: 1.1rem;
}

main .site-content .postpage .post-title p {
    font-size: 0.9rem;
}

/* max 768px medium smartphones/tablets */
@media only screen and (max-width: 768px) {}