@import url('../css/fonts.css');

html,
body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --font-Anton: 'Anton', cursive;
    --font-Roboto: 'Roboto', cursive;
    --light-gray: #727272;
    --dark-red: #963d49;
    --light-red: #e83633;
    --light-yellow: #efea45;
    --light-cyan: #6f968f;
    --light-green: #b9d689;
    --black: #0e0e0e;
    --light-gradient: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

/* Globals */
a {
    text-decoration: none;
    color: var(--light-gray);
    outline: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 5vw;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: var(--font-Anton);
    font-size: 2.3rem;
}

h2 {
    font-family: var(--font-Roboto);
}

h3 {
    font-family: var(--font-Roboto);
    font-size: 1.5rem;
}

button.btn {
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--font-Roboto);
    cursor: pointer;
    color: var(--black);
}

span {
    font-family: var(--font-Roboto);
}

/* Navbar */
.nav {
    background: wheat;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-brand a {
    font-size: 1.5rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--font-Anton);
    font-size: 1.5rem;
}

.nav .nav-items {
    display: flex;
    margin: 0;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0;
    width: 85%;
    cursor: pointer;
    color: var(--black);
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.5rem;
    color: var(--black);
}

/* Classe for my script.js */
.collapse {
    height: 30rem;
}

.nav .nav-items .nav-link {
    padding: 1.5rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--font-Roboto);
}

.nav .nav-items .nav-link:hover {
    background-color: var(--light-cyan);
}

.nav .nav-items .nav-link:hover a {
    color: white;
}

.nav .social {
    padding: 1.5rem 0;
}

.nav .social {
    padding-top: auto;
}

/* Main Content */

/* Hero Section */
main .hero-title {
    background: url('../img/Background-image.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}

main .hero-title .hero-background {
    padding-top: 10rem;
    text-align: center;
    color: var(--light-yellow);
}

main .hero-title h1,
h3 {
    margin: 0.3rem;
}

main .hero-title .btn {
    margin: 1.8rem;
    background: var(--light-cyan);
    transition: all 1s ease-in;
}

main .hero-title .btn:hover {
    background: transparent;
    border: 1px solid white;
    color: white;
}

/* End of Hero Section */

/* Carousel Section */

main .blog {
    background: url('../img/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
}

main .blog .blog-post {
    padding-top: 4rem;
}

main .blog .blog-post .blog-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0.2, 0.2);
}

main .blog-content .blog-title {
    padding: 2rem 0;
}

main .blog-content .btn-blog {
    padding: 0.7rem 2rem;
    background: var(--light-cyan);
    margin: 0.5rem;
}

main .blog-content span {
    display: block;
}

section .container .owl-nav {
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.fa-long-arrow-alt-right,
.fa-long-arrow-alt-left {
    color: var(--black) !important;
    background: transparent !important;
    font-size: 2rem !important;
    padding: 0.5rem;
    outline: none;
}

.owl-next:hover,
.owl-prev:hover {
    background: transparent !important;
    color: var(--black) !important;
}

/* End Carousel Section */

/* End of Main Content */

/* max 750px */
@media only screen and (max-width: 750px) {

    .nav .nav-menu,
    nav .nav-items {
        flex-direction: column;
    }

    .nav .toggle-collapse {
        display: initial;
    }

}